@font-face {
    font-family: "Shadows Into Light Two";
    src: url(../fonts/ShadowsIntoLightTwo-Regular.ttf) format("truetype");
}
body { 
    font-family: "Shadows Into Light Two", Verdana, Tahoma, sans-serif;
}
.label-list {
    min-width: 10px;
    font-size: 12.4px;
    margin-top: -1px;
}
.label-list option {
    font-size: 20px;
}
.full-width {
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: left;
    background-color: #2a2730;
}
#task-mockup {
    display: none;
}
input[type="text"]:disabled {
    text-decoration: line-through;
}